body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  width: 100%;
  background-color: #410f67;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #291355;
  color: white;
}

.logo img {
  height: 50px;
  width: auto;
  align-items: center;
}

.search-box {
  display: flex;
  flex-grow: 1;
  margin: 0 30px;
  max-width: 600px;
}

.search-box input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search-icon {
  padding: 8px 12px;
  border: none;
  background-color: #0d2b5c;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.lang-btn {
  background-color: #200c48;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 15px;
  cursor: pointer;
}

.nav-bar {
  background-color: rgb(227, 224, 217);
  padding: 10px 30px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-bar a {
  text-decoration: none;
  color: #2b2b2b;
  font-weight: bold;
}

.nav-bar a:hover {
  color: #401e83;
}

.nav-bar button {
  background: none;
  border: none;
  color: #2b2b2b;
  font-weight: bold;
  cursor: pointer;
}

.nav-bar button:hover,
.nav-bar .active-tab {
  color: white;
  background-color: #401e83;
  padding: 4px 10px;
  border-radius: 6px;
}
